h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

nav {
  background: rgb(87, 102, 233);
  padding: 1.25rem 2rem;
}

.nav-center {
  max-width: 95vw;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h3 {
  margin-bottom: 0;
  letter-spacing: 1px;
  color : rgb(216, 207, 207);;
}

.nav-container {
  display: block;
  position : relative;
}

nav svg {
  width: 40px;
  color: rgb(216, 207, 207);
}

.amount-container {
  font-size: 1.1rem;
  position: absolute;
  top: -0.7rem;
  right: -0.5rem;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background: rgb(216, 207, 207);
  display: flex;
  align-items: center;
}

.total-amount {
  margin: auto;
  color: rgb(66, 62, 62);
}

.cart {
  display: block;
  place-items: center;
  margin: auto;
  padding : auto;
}

.cart-item {
  display: flex;
  margin : 1rem;
  align-items: center;
  text-align: left;
  padding-left: 10rem;
  position: relative;
}

.cart-item-info {
  margin: 1rem;
}

.amount-info {
  /* display: block; */
  margin : auto;
  position: absolute;
  /* top: rem; */
  left : 60rem;
}

.amount-info svg {
  width : 1.5rem;
}